.jumbotron {
    margin-top:50px;
    height: 300px;
    
}
header {
    background-color: #e6fff2;  

}
footer {
    background-color:#e6fff2;
    padding: 10px;
    margin-top:10px;
}
footer a {
    text-decoration: none;
    color:#000;
}
footer a:hover {
    text-decoration: none;
    color:#ff9999;
}
.hotel-card {
    margin:20px 10px 20px 10px;
    padding: 2px 5px 2px 5px;
    height:250px;
   
}
.btn-reserve{
    
}
.info-card {
    height:200px;
    padding: 5px 10px 5px 10px;
    margin: 20px 5px 20px 5px;
}