.jumbotron {
    margin-top:50px;
    height: 300px;
    
}
header {
    background-color: #e6fff2;  

}
.breadcrumb {
    background-color: #f0f0f5;
    margin-top:20px;
    padding:10px;
    border-radius: 5px;
    
}
.breadcrumb a{
    text-decoration: none;
    color:#008080;
}
.breadcrumb a:active{
    text-decoration: none;
    color: silver;
}
footer {
    background-color:#e6fff2;
    padding: 10px;
    margin-top:10px;
}
footer a {
    text-decoration: none;
    color:#000;
}
footer a:hover {
    text-decoration: none;
    
}

.card {
    box-shadow: 3px 3px 5px;
}
.card img{
    max-height:150px;
    border-radius:5px;
    padding: 3px;
}


.info-card {
    height:200px;
    padding: 5px 10px 5px 10px;
    margin: 20px 5px 20px 5px;
}

i {
    size: 2em;
}

.formStyle {
    margin-top: 20px;
}
.pay-method {
    margin-left:20px;
}
#info-container {
    background-image:url("../images/iguazu.jpg");
    background-position: fit;
    background-repeat: no-repeat;
}
.btn-reserve {
    background-color: #000;
    color:#fff;
    font-weight: 700;
}
.btn-reserve:hover{
    background-color:#e6fff2 ;
    color:#000;
    box-shadow: 2px 2px 3px;
}

.tab-content {
    padding-top:20px;
}
